@use "sass:map";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@function get-breakpoint($name) {
  @return map.get($breakpoints, $name);
}

@mixin min-width($breakpoint-name) {
  @media only screen and (min-width: get-breakpoint($breakpoint-name)) {
    @content;
  }
}

@mixin max-width($breakpoint-name) {
  @media only screen and (max-width: get-breakpoint($breakpoint-name) - 1px) {
    @content;
  }
}

@mixin between($min-breakpoint, $max-breakpoint) {
  @media only screen and (min-width: get-breakpoint($min-breakpoint)) and (max-width: get-breakpoint($max-breakpoint) - 1px) {
    @content;
  }
}

:export {
  @each $name, $value in $breakpoints {
    #{$name}: #{$value};
  }
}
